.forgot-password-container {
    width: 100vw;
    min-height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    transition: background 0.3s ease-in-out;
  }
  
  .dark-mode {
    background: #1a1a1a;
    color: white;
  }
  
  .light-mode {
    background: #f4f4f4;
    color: black;
  }
  
  .forgot-hero-section {
    margin-bottom: 1rem;
  }
  
  .forgot-password-box {
    padding: 3rem;
    width: 100%;
    max-width: 20rem;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: background 0.3s ease-in-out;
    margin-bottom: 3rem;
  }
  
  .dark-mode .forgot-password-box {
    background: rgba(255, 255, 255, 0.1);
    color: white;
  }
  
  .light-mode .forgot-password-box {
    background: white;
    color: black;
  }
  
  .forgot-input-field {
    width: 100%;
    margin: 0.5rem 0 !important;
  }
  
  .forgot-btn {
    width: 100%;
    padding: 12px 16px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
    margin: 0.5rem 0 !important;
  }
  
  .light-mode .forgot-btn {
    background-color: black;
    color: white;
  }
  
  .dark-mode .forgot-btn {
    background-color: white;
    color: black;
  }
  
  .light-mode .forgot-btn:hover,
  .dark-mode .forgot-btn:hover {
    background-color: gray;
  }
  
  .forgot-signup-link {
    margin: 0.5rem 0 !important;
    font-size: 0.9rem;
  }
  
  .forgot-signup-link span {
    color: #007bff;
    cursor: pointer;
  }
  
  @media (max-width: 768px) {
    .forgot-password-box {
      padding: 1.5rem;
    }
  }
  